{% extends 'base.html' %}

{% block title %}Generate Smart Password{% endblock %}

{% block content %}

    <h1 class="display-6 text-center">Generate Smart Password:</h1>
    <hr>
    <div class="btn-group btn-group-sm">
        <a href="{% url "app_hub:smart_password_manager:smart_password_list" %}" class="btn btn-secondary"><i
                class="bi bi-arrow-left"></i></a>
    </div>
    <hr>
    <ul class="list-group">
        <li class="list-group-item"><strong>Login: </strong>
            <p class="lead">{{ smart_password.login }}</p></li>
        <li class="list-group-item"><strong>Length: </strong>
            <p class="lead">{{ smart_password.length }}</p></li>
    </ul>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Generate</button>
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_login, #id_length, #id_secret_phrase').addClass('form-control');
        });
        $('#id_secret_phrase').val('temporary_value').val('');
    </script>
{% endblock %}