{% extends 'base.html' %}

{% block title %}Create Smart Password:{% endblock %}

{% block content %}

    <h1 class="display-6 text-center">Create Smart Password:</h1>
    <hr>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <a href="{% url "app_hub:smart_password_manager:smart_password_list" %}" type="button"
           class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a>
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Generate</button>
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_login, #id_length, #id_secret_phrase').addClass('form-control');
        });
    </script>
{% endblock %}